{% load static %}

<!DOCTYPE html>

<html>
    <head>
        
         
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <title>Image dashboard</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'board/style.css' %}">
        <link rel="stylesheet" href="{% static 'uploader/style.css' %}">
        <link rel="stylesheet" href="{% static 'uploader/main.js' %}">


        <script src="https://unpkg.com/js-image-zoom@0.4.1/js-image-zoom.js" type="application/javascript"></script>
        <script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
        <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">
        
    </head>
    <body>

        <div class="sidebar">
            {% block sidebar %}
            <ul>
                <li><a href="/board/">Home</a></li>
                <li><a href="/explorer/">Explorer</a></li>
                {% comment %}<li><a href="{% url 'board:explorer' %}">Explorer</a></li>{% endcomment %}
                <li><a href="/uploader/">Upload</a></li>
                {% if user.is_authenticated %}
                <li><a href="/logout/">Log Out</a></li>

                {% else %}
                <li><a href="/login/">Log In</a></li>
                <li><a href="/register/">Register</a></li>
                {% endif %}
            </ul>

            {% endblock %}
        </div>

        <div id="content">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{message.tags}}">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}
        </div>

    </body>
</html>
