{% extends "board/base.html" %}


{% block content %}

        <p> Number of images: {{len_image_list}}</p>
        
        <form method="POST">
        {% csrf_token %}
        <button name="clear">Clear</button>
        </form>

        <div class="container">
            <div class="row">
                {% for img in image_list %}

                    <div class="col">
                    <a href="/explorer/{{ img.id }}/">
                        <img src="{{img.image_url}}" alt="asdf" width="224" height="224">
                    </a>
                    </div>

                    {% if forloop.counter0 == 3 %}
                        <div class="w-100"></div>
                    {% endif %}

                {% endfor %}
            </div>
        </div>

{% endblock %}

