{% extends "board/base.html"%}

{% load static %}
 
{% block content %}

<h1>Models</h1>

<form action="upload_model/" enctype="multipart/form-data">
    <button type="submit" name="create-model" class="btn btn-primary">Create new model</button>
</form>

<h3>My models</h3>

{% if private_models_list %}
{% for model in private_models_list %}
<a href="/torch_models/{{ model.id }}/">
<p> Model name: {{model.name}}              {{model.problem_type}} </p> 
</a>
{% endfor %}
{% endif %}

<h1>Public models</h1>

{% if public_models_list %}
{% for model in public_models_list %}
<a href="/torch_models/{{ model.id }}/"></a>
<p> Model name: {{model.name}}              {{model.problem_type}} </p> 
</a>
{% endfor %}
{% endif %}



 

{% endblock %}