{% extends "base.html"%}

{% load static %}
 
{% block content %}

<h1>Models</h1>

<form action="upload_model/" enctype="multipart/form-data">
    <button type="submit" name="create-model" class="btn btn-primary">Create new model</button>
</form>

<h3>My models</h3>

{% if private_models_list %}
    <div class="list-group">
    {% for model in private_models_list %}
        <a href="/torch_models/{{ model.id }}/" class="list-group-item list-group-item-action"> Model name: {{model.name}} {{model.problem_type}} </a>
    {% endfor %}
    </div>
{% endif %}

<h3>Public models</h3>

{% if public_models_list %}
    <div class="list-group">
    {% for model in public_models_list %}
        <a href="/torch_models/{{ model.id }}/" class="list-group-item list-group-item-action"> Model name: {{model.name}} {{model.problem_type}} </a>
    {% endfor %}
    </div>
{% endif %}



 

{% endblock %}